		.head1 {
			font-size: 40px;
			color: #009900;
			font-weight: bold;
		} 
		.head1 { 
			font-size:40px; 
			color:#009900; 
			font-weight:bold; 
		} 
		.head2 { 
			font-size:12px; 
			margin-left:10px; 
			margin-bottom:10px; 
		} 
		body { 
			margin: 0 auto; 
			background-position:center; 
			background-size: contain; 
		} 
	
		.menu { 
			position: sticky; 
			top: 0; 
			background-color: #009900; 
			padding:0px 0px 0px 0px; 
			color:white; 
			margin: 0 auto; 
			overflow: hidden;
			
		} 
		.menu a { 
			float: left; 
			color: white; 
			text-align: center; 
			padding: 14px 16px;
			text-decoration: none; 
			font-size: 20px;			
		} 
		.menu-log { 
			right: auto; 
			float: right; 
		} 
		footer { 
			width: 100%; 
			bottom: 0px; 
			background-color: #000; 
			color: #fff; 
			position: absolute; 
			padding-top:1px; 
			padding-bottom:1px; 
			text-align:center; 
			font-size:12px; 
			font-weight:bold; 
		} 
		.body_sec { 
			margin-left:20px; 
		} 
		
		
		
		
		
		.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

table#demo tr:nth-child(odd) {
  background-color: #67bdeb ;
  color: #004080 ;
}
table#demo tr:nth-child(even) {
  background-color: #ffffff ;
  color: #004080 ;
}
table#demo {
  border-collapse: collapse ;
}
table#demo td {
  padding: 0px ;
}
table#demo caption {
  font-style: italic ;
  background-color: black ;
  color: white ;
}

.color-red {
  background-color: red;
}
.color-green {
  background-color: green;
}
.color-yellow {
  background-color: yellow;
}