<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
 
<body> 
	<!-- Header Section -->
	<header> 
	
	<div style="width: 100%;">
   <div style="float:left; width: 65%">
   <div class="head1"> Hari Rentala</div> 
		<div class="head2">The Application For Family Budget</div>
   </div>
   <div style="float:right;" align="left">
   <span>Welcome, <span>[[${loginUser}]]</span></span><br>
			<a th:href="@{/}"><i class="fa fa-sign-out" aria-hidden="true" ></i>Sign Out</a>
   </div>
</div>
<div style="clear:both"></div>

	<!-- <div class="split left">
		<div class="head1"> Hari Rentala</div> 
		<div class="head2">The Application For Family Budget</div> 
		</div>
		<div class="split right">
			<span>Welcome, <span>[[${loginUser}]]</span></span>
			<a th:href="@{/}"><i class="fa fa-sign-out" aria-hidden="true" ></i>Sign Out</a>
			
			</div> -->
	</header>

</body> 

</html>			 
